.DashBoard{
    text-align: center;
    align-items: center ;
    width: 80%;
    height: 100vh;
    /* background-color: aqua; */
    border-radius: 15px;
}
.duration-sec{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.duration-option button{
    color: gray;
    height: 30px;
    margin-left: 5px;
    margin-top: 20px;
    width: max-content;
    background-color: rgba(240, 240, 240, 0.552);
    border-radius: 10px;
    border: transparent;
  
  }
.topbar2{
    display: flex;
    font-display: row;
}
.backbutton button{
    font-weight: 500;
    border: transparent ;
    background-color: transparent;
    height: 100%;
}
.Stock-info{
    width: 100%;
    /* display: flex; */
    
}
.stockname img{
    margin-top: 5px;
    margin-right: 5px;
}
.stockname,.amount-info{
    display: flex;
    flex-direction: row;
}
.section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 8%;
}
.SummaryCard,.SupportCard,.Averages,.Oscillators{
    width: 47%;
    border-radius: 10px;
    /* height: 56vh; */
    height: auto;
    /* background-color: aqua; */
}
.background-blue{
    background-color: rgb(44, 195, 255);
}
.background-white{
    background-color: rgb(255, 255, 255);
}
@media only screen and (max-width: 900px) {
    body {
      background-color: rgba(208, 208, 208, 0);
    }
    .topbar2{
        align-items: center;
        text-align: center;
    }
    .section{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .stockname,.amount-info{
        margin-top: 6%;
        justify-content: center;
    }
    .Stock-info{
        text-align: center;
    }
    .SummaryCard,.SupportCard,.Averages,.Oscillators{
        width: auto;
        border-radius: 10px;
        height: auto;
        margin-top: 3%;
        /* background-color: aqua; */
    }
    .right-side{
        width: 50%;
    }
    .Inner-hover{
        padding-top: 3px;
    }
  }

  @media only screen and (max-width: 400) {
    body {
      background-color: rgba(249, 16, 16, 0);
    }
    
  }
