/* Main1 */
.intro-heading{
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.left-side{
  float: left;
}
.right-side{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  float: right;
  width: 20%;
}
.Button{
  height: 40px;
  margin-top: 20px;
  width: 90px;
  background-color: rgba(168, 167, 167, 0.552);
  border-radius: 10px;
  border: transparent;

}
#signupbutton{
  background-color:#387ED1;
  border: #387ED1 ;
  color: white;
}

.dashboard{
  display: flex;
  flex-direction: row;
  justify-content: center;
}



/* Main2 */
.App {
  /* display: flex;
  flex-direction: column;
  text-align: center; */
  justify-content: center;
  align-items: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

